@import url('https://fonts.googleapis.com/css2?family=Goblin+One&display=swap');
.product-list img {
    width: 400px;
}
.heading nav a {
    display: inline-block;
}
.logo{
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
    border: 2px solid salmon;
    padding: 10px;
    margin: 20px;
    font-family: 'Goblin one', cursive;
    position: fixed;
    top: 20px;
}
h2:hover{
    text-decoration: underline;
}
h2::first-letter{
    font-style: italic;
}

.products-list-list {
    color: red;

}
.products-list article{
    width: 25%;
}